@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.passos {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 2s;
}

.aparecer {
  filter: blur(0px);
  transform: translateX(0%);
  opacity: 1;
  transition: all 2s;
}

.pesquise {
  animation: pesquise 1s ease;
  animation-fill-mode: forwards;
}

@keyframes pesquise {
    //PESQUISE
    100% {
      transform: translate(0px, 300px);
    }
    //PESQUISE 
}

.metas {
  animation: metas 1s ease;
  animation-fill-mode: forwards;
}

@keyframes metas{

  //METAS
  16.6% {
    transform: translate(0px, 460px);
  }
  33.2% {
    transform: translate(-100px, 550px) rotate(30deg);
  }
  49.8% {
    transform: translate(-240px, 630px) rotate(90deg);
  }
  66.4% {
    transform: translate(-450px, 630px) rotate(90deg);
  }
  83% {
    transform: translate(-670px, 690px) rotate(45deg);
  }
  100% {
    transform: translate(-740px, 880px);
  }
  //METAS
}
 
.orcamento{
  animation: orcamento 1s ease;
  animation-fill-mode: forwards;
}
@keyframes orcamento{
  //ORÇAMENTO
  0% {
    transform: translate(-740px, 900px);
  }
  16.6% {
    transform: translate(-740px, 1030px) rotate(-30deg);
  }
  33.2%  {
    transform: translate(-540px, 1150px) rotate(-90deg);
  }
  49.8% {
    transform: translate(-100px, 1150px) rotate(-90deg);
  }
  66.4% {
    transform: translate(-100px, 1180px) rotate(-45deg);
  }
  83% {
    transform: translate(-20px, 1180px);
  }
  100% {
    transform: translate(-10px, 1410px);
  }
  //ORÇAMENTO
}

.poupe{
  animation: poupe 1s ease;
  animation-fill-mode: forwards;
}

@keyframes poupe{
  

  //POUPE
  0% {
    transform: translate(-10px, 1580px);
  }
  16.6%  {
    transform: translate(-100px, 1580px) rotate(30deg);
  }
  33.2% {
    transform: translate(-260px, 1680px) rotate(90deg);
  }
  49.8% {
    transform: translate(-540px, 1680px) rotate(90deg);
  }
  66.4%  {
    transform: translate(-600px, 1630px) rotate(30deg);
  }
  83% {
    transform: translate(-740px, 1830px);
  }
  100% {
    transform: (translate(-745px, 1950px));
  }
  //POUPE

}
.dividas {
  animation: dividas 1s ease;
  animation-fill-mode: forwards;
}
@keyframes dividas {
  //DIVIDAS

  0% {
    transform: translate(-740px, 2030px);
  }
  20% {
    transform: translate(-600px, 2200px) rotate(-90deg);
  }

  40% {
    transform: translate(-100px, 2200px) rotate(-90deg);
  }

  60% {
    transform: translate(-100px, 2200px) rotate(-30deg);
  }
  80% {
    transform: translate(-10px, 2200px);
  }
  100% {
    transform: translate(-10px, 2450px);
  }
  //DIVIDAS
}
